
/*todo el header*/
.logo
{
    display: flex;
    align-items: center;
    gap: 12px;
    cursor: pointer;
    transition: transform 0 .3s ease;
}

.logo:hover

{
    transform: scale(1.03);
}

.logo h1
{
    font-size: 1.4rem;
    color: white !important;
    letter-spacing: 1px;
    margin: 0;
}

.img_logo
{
    height: 70px;
    width: auto;
}

.menu
{
    list-style: none;
    display: flex;
    gap: 30px;
    margin: 0;
    padding: 0;
}

.desplegable
{
    position: relative;
}

.submenu
{
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #ffffff;
    list-style: none;
    padding: 10px 0;
    min-width: 150px;
    border: 1px solid #e5e7eb;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    z-index: 100;
}

.desplegable:hover .submenu
{
    display: block;
}

.submenu li a
{
    padding: 10px 20px;
    display: block;
    font-size: 0.9rem;
    font-weight: 500;
}

.submenu li a:hover
{
    background-color: #f3f4f6;
    color: #4a51ff;
}

body
{
    background-color: #ffffff;
    color: #1f2937;          
    font-family: Arial, sans-serif;
    margin: 0;
    padding-top: 80px;
}

.barra_anclada
{
    position: fixed;
    top: 0;
    width: 100%;
    height: 70px;
    background: linear-gradient(90deg, #f59e0b 0%, #ef4444 50%, #8b5cf6 100%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
    z-index: 1000;
    border-bottom: 3px solid rgba(0,0,0,0.1);
    box-shadow: 0 4px 10px rgba(14, 165, 233, 0.2);
    box-sizing: border-box;
}

.menu a
{
    text-decoration: none;
    color: white !important;
    font-weight: 600;
    transition: color 02s ease;
}

.menu a:hover
{
    color: #4a51ff;
} 

/*todo el main, me falta agregar la barra de busqueda*/

.ventana_carrusel
{
    width: 85%;
    max-width: 1200px;
    height: 450px;
    margin: 40px auto;
    overflow: hidden;
    border-radius: 24px;
    background-color: #1f2937;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 1);
    position: relative;
    display: block;
}

.info
{
    flex: 1;
    padding-right: 50px;
    text-align: left;
}

.info p
{
    max-width: 450px;
    margin-bottom: 20px;
}

.movimiento_imagenes
{
    display: flex;
    width: 1000%;
    height: 100%;
    animation: carrusel_pokedex 63s infinite;
    margin: 0;
    padding: 0;
}

@keyframes carrusel_pokedex
{
    0%, 8%{transform: translateX(0) ;}
    10%, 18%{transform: translateX(-10%);}
    20%, 28%{transform: translateX(-20%);}
    30%, 38%{transform: translateX(-30%);}
    40%, 48%{transform: translateX(-40%);}
    50%, 58%{transform: translateX(-50%);}
    60%, 68%{transform: translateX(-60%);}
    70%, 78%{transform: translateX(-70%);}
    80%, 88%{transform: translateX(-80%);}
    90%, 98%{transform: translateX(-90%);}
    100%{transform: translateX(-90%);}
}

.banner
{
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 60px;
    color: white;
    flex-shrink: 0;
    box-sizing: border-box;
}

.banner.fantasma
{
    background: linear-gradient(135deg, #4c1d95 0%, #8b5cf6 100%);
}
.banner.electrico
{
    background: linear-gradient(135deg, #facc15 0%, #f59e0b 100%);
}
.banner.psiquico
{
    background: linear-gradient(135deg, #ec4899 0%, #3b82f6 100%);
}
.banner.hielo
{
    background: linear-gradient(135deg, #67e8f9 0%, #3b82f6 100%);
}
.banner.dragon
{
    background: linear-gradient(135deg, #6a5acd 0%, #483d8d 100%);
}
.banner.fuego
{
    background: linear-gradient(135deg, #ff6a00 0%, #ee0989 100%);
}
.banner.volador
{
    background: linear-gradient(135deg, #81ecec 0%, #74b9ff 100%);
}
.destacado_imagen
{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.destacado_imagen img
{
    height: 300px;
    width: auto;
}

.boton_ver 
{
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    text-decoration: none;
    border: 1px solid white;
}

.seccion_populares
{
    width: 85%;
    max-width: 1200px;
    margin: 60px auto;
}
.titulo_populares
{
    font-size: 1.8rem;
    color: #1f2937;
    margin-bottom: 30px;
    font-weight: 800;
}
.grid_populares 
{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    width: 80%;
    margin: 40px auto;
}

.carta_pokemon 
{
    background-color: #ffffff;
    border: 1px solid #e5e7eb;
    border-radius: 20px;
    padding: 30px;
    text-align: center;
    transition: all 0.3s ease;
}

.carta_pokemon:hover 
{
    box-shadow: 0 10px 20px rgba(0,0,0,0.1); 
    transform: translateY(-5px);
    /*border-color: #4a51ff; tengo que buscar colores para poder ponerle a cada tipo de pokemon*/
}

.carta_pokemon img
{
    width: 140px;
    height: auto;
    margin-bottom: 15px;
}

.tipo_pokemon
{
    display: inline-block;
    background-color: #f3f4f6;
    color: #6b7280;
    padding: 5px 15px;
    border-radius: 10px;
    font-size: 0.8rem;
    font-weight: bold;
    margin-top: 10px;
}

.tipo_pokemon.fuego 
{
    background-color: #ff6a00;
    color: white;
}

.tipo_pokemon.agua 
{
    background-color: #3399ff;
    color: white;
}

.tipo_pokemon.planta 
{
    background-color: #77cc55;
    color: white;
}

.tipo_pokemon.normal 
{
    background-color: #a8a878;
    color: white;
}
.tipo_pokemon.veneno
{
    background-color: #a040a0;
    color: white;
}
.tipo_pokemon.psiquico
{
    background-color: #f85888;
    color: white;
}
.tipo_pokemon.siniestro
{
    background-color: #705848;
    color: white;
}
.tipo_pokemon.dragon
{
    background-color: #7038f8;
    color: white;
}
.tipo_pokemon.volador
{
    background-color: #a890f0;
    color: white;    
}
.tipo_pokemon.legendario
{
    background-color: #fcc21b;
    color: #1f2937;
}
.tipo_pokemon.fantasma
{
    background-color: #a040a0; 
    color: #ffffff;        
}

/*ahora el footer, me falta poner descripcion al final y el logo tmabien*/

.final_pagina
{
    background-color: white;
    border-top: 1px solid #e5e7eb;
    padding: 40px 0;
    margin-top: 60px;
    text-align: center;
}
.contenido_footer p
{
    color: #6b7280;
    font-size: 0.9rem;
    margin-bottom: 15px;
}
.footer_links
{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.footer_links a
{
    text-decoration: none;
    color: #1f2937;
    font-size: 0.8rem;
    font-weight: 500;
    transition: color 0.2s;
}
.footer_links a:hover
{
    color: #4a51ff;
}