
.seccion_contacto 
{
    max-width: 550px;
    margin: 40px auto;
    background-color: #ffffff;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid #ddd;
    font-family: Arial, sans-serif;
}

.titulo_formulario 
{
    text-align: center;
    color: #b347c3; 
    text-transform: uppercase;
    margin-bottom: 25px;
}
select.comunidades
{
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: right 10px center;
    appearance: none;
    size: 5;
}

textarea.texto
{
    resize: vertical;
    min-height: 100px;
    font-family: Arial, sans-serif; 
}

.lista_pokemon
{
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 0; 
    border: 1px solid #eee;
    border-radius: 8px;
    overflow: hidden;
    background-color: #fff;
}

.item_poke 
{
    display: flex;
    align-items: center;
    padding: 10px 15px;
    cursor: pointer;
    font-weight: normal !important;
}

.item_poke img 
{
    width: 50px; 
    height: 50px;
    margin: 0 10px;
    
}

.item_poke img 
{
    width: 35px;      
    height: 35px;     
    margin: 0 15px;   
}

.input_plano 
{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

.bloque
{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;    
    text-align: left;
}

.bloque label {
    font-weight: bold;
    margin-bottom: 8px;
    color: #43435c;
}

select.comunidades 
{
    width: 100%;            
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    background-color: #ffffff;
    color: #333;            
    height: auto;           
}

.bloque_botones 
{
    text-align: center;
    margin-top: 25px;
}

.boton_enviar 
{
    background-color: #b347c3;
    color: white;
    padding: 12px 25px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}

.boton_limpiar 
{
    background-color: #f0f0f0;
    color: #333;
    padding: 12px 25px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-left: 10px;
    cursor: pointer;
}